<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="div.shuchun.dao.user.UserMapper">

	<select id="getLoginUser" resultType="user">
		select * from `dsms_user` where `userCode` = #{userCode}
	</select>

	<select id="getAllUserList" resultType="user">
		select * from `dsms_user`
	</select>
	
</mapper>