<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="div.shuchun.dao.parts.PartsMapper">
	
	<select id="getPartsListByCode" resultMap="partsWithDept">
		select * from `dsms_parts` as p 
			left join `dsms_department` as d 
			on p.partsDepartment = d.id 
			where `partsCode` = #{partsCode} 
			limit #{startIndex} , #{pageSize};
	</select>
	
	<resultMap type="parts" id="partsWithDept">
		<result column="fab/dept" property="partsDeptName"/>		
	</resultMap>
	
	<select id="getPartsCountById" resultType="int">
		select `Quantity` from `dsms_partsInst` as pi 
		left join `dsms_parts` as p 
		on pi.partsId = p.id 
		where `partsId` = #{id};
	</select>
	
	<select id="getPartsDataCount" resultType="_int">
		select count(*) from `dsms_parts` as p 
		left join `dsms_department` as d 
		on p.partsDepartment = d.id 
		where `partsCode` = #{partsCode};
	</select>

</mapper>