<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="div.shuchun.dao.position.PositionMapper">
	
	<select id="getPositionName" resultType="position">
		select p.id,`positionName` from `dsms_position` as p 
			left join `dsms_area` as a 
			on p.positionArea = a.id 
			where `positionParts` = #{partsId} 
			and `positionStatus` = #{statusId} 
			and `areaDepartment` = #{deptId}
	</select>
	
	<select id="getSearchAreaPosition" resultType="searchAreaPositionObj">
		select * from `dsms_position` as po
			left join `dsms_parts` as pa
			on po.positionParts = pa.id
			left join `dsms_status` as s
			on po.positionStatus = s.id 
			<where>
				<if test="positionArea != null and positionArea != ''">po.positionArea = #{positionArea}</if>
				<if test="statusId != 0">and s.id = #{statusId}</if>
				<if test="partsCode != null and partsCode != ''">and pa.partsCode like "%"#{partsCode}"%"</if>
				<if test="positionName != null and positionName != ''">and po.positionName like "%"#{positionName}"%"</if>
			</where>
	</select>
	
	<select id="getRowCountOfPositionNameInArea" resultType="_int">
		select count(`positionName`) from `dsms_position` 
		where `positionName` = #{positionName}
		and `positionArea` = #{positionArea}
	</select>
	
	<select id="getPositionId" resultType="int">
		select `id` from `dsms_position` 
		where `positionArea` = #{positionArea} 
		and `positionName` = #{positionName};
	</select>
	
	<insert	id="addPosition" parameterType="position">
		insert into `dsms_position` 
		values (#{position.id}, #{position.positionName}, #{position.positionArea},
				#{position.positionParts}, #{position.positionStatus}, #{position.createdBy},
				#{position.creationDate}, #{position.modifyBy}, #{position.modifyDate})
	</insert>
	
	<delete id="deletePosition" parameterType="int">
		delete from `dsms_position` where `id` = #{positionId}
	</delete>
	
	<update id="updatePosition" parameterType="position">
		update `dsms_position`
		<set>
			<if test="position.positionName != null and position.positionName != ''">`positionName` = #{position.positionName},</if>
			<if test="position.positionParts != null and position.positionParts != ''">`positionParts` = #{position.positionParts},</if>
			<if test="position.positionStatus != null and position.positionStatus != ''">`positionStatus` = #{position.positionStatus},</if>
		</set>
			, `modifyBy` = #{position.modifyBy},
			`modifyDate` = #{position.modifyDate}
		where `id` = #{position.id}
	</update>
	
</mapper>