<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="div.shuchun.dao.position.PositionMapper">
	
	<select id="getPositionName" resultType="position">
		select p.id,`positionName` from `dsms_position` as p 
			left join `dsms_area` as a 
			on p.positionArea = a.id 
			where `positionParts` = #{partsId} 
			and `positionStatus` = #{statusId} 
			and `areaDepartment` = #{deptId}
	</select>
	
	<select id="getSearchAreaPosition" resultType="searchAreaPositionObj">
		select * from `dsms_position` as po
			left join `dsms_parts` as pa
			on po.positionParts = pa.id
			left join `dsms_status` as s
			on po.positionStatus = s.id 
			<where>
				<if test="positionArea != null">po.positionArea = #{positionArea}</if>
				<if test="statusId != null">and s.id = #{statusId}</if>
				<if test="partsCode != null">and pa.partsCode like "%"#{partsCode}"%"</if>
				<if test="positionName != null">and po.positionName like "%"#{positionName}"%"</if>
			</where>
	</select>
	
</mapper>