<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="div.shuchun.dao.area.AreaMapper">

	<select id="getAreaList" resultType="area">
		select distinct area.id, area.areaName, area.areaDesc, area.areaDepartment from `dsms_area` as area
		left join `dsms_position` as po
		on po.positionArea = area.id
		<if test="partsCode != null and partsCode != ''">
			left join `dsms_parts` as pa
			on po.positionParts = pa.id
		</if>
		<where>
			area.areaDepartment = #{deptId}
			<if test="statusId != 0">and po.positionStatus = #{statusId}</if>
			<if test="partsCode != null and partsCode != ''">and pa.partsCode like "%"#{partsCode}"%"</if>
			<if test="positionName != null and positionName != ''">and po.positionName like "%"#{positionName}"%"</if>
		</where>
	</select>
	
	<select id="getAreaByNameAndDeptId" resultType="area">
		select * from `dsms_area`
		where `areaDepartment` = #{deptId}
		and `areaName` = #{areaName};
	</select>
	
	<insert id="addArea" parameterType="area">
		insert into `dsms_area`
		(`id`,`areaName`, `areaDesc`, `areaDepartment`, `createdBy`, `creationDate`, `modifyBy`, `modifyDate`)
		values (null, #{areaName}, #{areaDesc}, #{areaDepartment}, 
				#{createdBy}, #{creationDate}, #{modifyBy}, #{modifyDate});
	</insert>
	
	<delete id="deleteAreaById">
		delete from `dsms_area` where `id` = #{id}
	</delete>
	
	<update id="updateArea">
		update `dsms_area`
		<set>
			<if test="areaName != null and areaName != ''">`areaName` = #{areaName},</if>
			<if test="areaDesc != null and areaDesc != ''">`areaDesc` = #{areaDesc},</if>
		</set>
			, `modifyBy` = #{modifyBy},
			`modifyDate` = #{modifyDate}
		where `id` = #{id}
	</update>
	
	<select id="getAreaNameById" resultType="string">
		select `areaName` from `dsms_area` where `id` = #{id}
	</select>

</mapper>